filter=-build/include_subdir,-build/include_order,-build/include_what_you_use,-build/header_guard,-legal/copyright,-whitespace/newline
# STL allocator needs implicit single arg constructor which CPPLINT doesn't like by default
filter=-runtime/explicit
filter=-runtime/string
filter=-runtime/int
linelength=120
